/* stylelint-disable custom-property-pattern */

.slider {
    appearance: none;
    background: var(--colors-ContrastNeutral);
    cursor: pointer;
    height: 25px;
    outline: none;
    width: 100%;
    border-radius: 2px;

    &::-webkit-slider-thumb {
        appearance: none;
        background: var(--colors-PrimaryBlue);
        border-radius: 5px;
        box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
        cursor: pointer;
        height: 20px;
        opacity: .7;
        width: 20px;
        border: none;
    }

    &::-webkit-slider-thumb:hover,
    &:focus::-webkit-slider-thumb {
        background: var(--colors-PrimaryBlueHover);
    }

    &::-moz-range-thumb {
        appearance: none;
        background: var(--colors-PrimaryBlue);
        border-radius: 5px;
        box-shadow: 0 0 0 #000, 0 0 0 #0d0d0d;
        cursor: pointer;
        height: 25px;
        opacity: .7;
        width: 25px;
        border: none;
    }

    &::-moz-range-thumb:hover,
    &:focus::-moz-range-thumb {
        background: var(--colors-PrimaryBlueHover);
    }
}

.sliderHighlight {
    box-shadow: 0 0 0 2px var(--colors-Warn);
}

.editorValue {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & button {
        cursor: pointer;
        background: none;
        padding: 0;
        border: 0;
        color: inherit;
        border-radius: 2px;

        &:focus {
            outline: 2px solid var(--colors-PrimaryBlue);
            outline-offset: 2px;
        }
    }
}

.textfield {
    background: var(--colors-ContrastNeutral);
    border: 0;
    color: var(--colors-ContrastBrightest);
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-Half);
    border-radius: 2px;
    gap: 1px;
    cursor: text;

    &:focus-within {
        color: var(--colors-ContrastDarkest);
        background: var(--colors-ContrastBrightest);
    }

    & input {
        appearance: none;
        padding: 0;
        border: 0;
        margin: 0;
        background: transparent;
        color: inherit;
        display: inline-block;
        text-align: right;
        box-sizing: content-box;

        &:focus {
            outline: none;
        }
    }

    & span {
        user-select: none;
    }
}

.textfieldGap {
    gap: 0.25em;
}

.editorValueSingle {
    justify-content: center;
}

.valueLabel {
    user-select: none;
}

.editorDisabled {
    opacity: .65;

    & input[disabled],
    & button:disabled {
        cursor: not-allowed;
    }

    & .slider::-webkit-slider-thumb {
        pointer-events: none;
        background: var(--colors-ContrastBright);
    }

    & .slider::-moz-range-thumb {
        pointer-events: none;
        background: var(--colors-ContrastBright);
    }
}
